.layout-container {
  min-height: 100vh;
  width: 100%;
  background-color: #f0f2f5;
}

.layout-inner {
  margin: 0 8%;
}

.content-wrapper {
  display: flex;
  padding-top: 10px;
  min-height: calc(100vh - 180px);
}

@media (max-width: 768px) {
  .layout-inner {
    margin: 0 4%;
  }
}