.sidebar {
    width: 300px;
    position: fixed;
    height: 100%;
    padding: 24px 0;
  }
  
  .sidebar-nav {
    height: 100%;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 260px;
    }
  }